/* Projects.module.css */
.container {
    color: #FFFFFF; /* White text */
    margin-left: 2em;
}

.buttonGreen {
    background: linear-gradient(135deg, #a8ff78 0%, #78ffd6 100%);
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.buttonGreen:hover {
    background: linear-gradient(135deg, #78ffd6 0%, #b8ff78 100%);
}

.sidebar {
    background-color: #111111; /* Darker sidebar background */
}

.activeLink {
    background-color: #C0F16C; /* Highlighted link background */
    color: #111111; /* Dark text for active link */
}

.link {
    color: #ffffff; /* White text for inactive links */
}

.link:hover {
    color: #C0F16C; /* Hover effect for sidebar links */
}

.projectCard {
    background-color: #111111; /* Slightly lighter than the main background */
    border-radius: 10px;
    padding: 2em;
    width: 21em;
    color: #FFFFFF;
    transition: background 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.projectCard:hover {
    background-color: #3A3A3A; /* Slight hover effect */
}

.projectTitle {
    font-weight: bold;
    color: #C0F16C; /* Light green for titles */
}

.paginationButton {
    background: linear-gradient(135deg, #a8ff78 0%, #78ffd6 100%);
    color: #FFFFFF;
    padding: 8px 16px;
    border-radius: 10px;
    margin: 0 4px;
    transition: background 0.3s ease;
}

.paginationButton:hover {
    background: linear-gradient(135deg, #78ffd6 0%, #a8ff78 100%);
}
